<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ZenBlog Bootstrap Template - Contact</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="static/assets/css/variables.css" rel="stylesheet">
    <link href="static/assets/css/main.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/index" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="static/assets/img/logo.png" alt=""> -->
            <h1>Music</h1>
        </a>

        <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">首页</a></li>
          <li><a href="/music?page=1">排行榜</a></li>
          <li><a href="/wordcloud">词云统计</a></li>
          <li><a href="/score">评分分布</a></li>
          <li><a href="/about">团队</a></li>
        </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
            <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
            <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

            <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close"><span class="bi-x"></span></button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header><!-- End Header -->

<main id="main">
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">豆瓣音乐top247</h1>
                </div>
            </div>
            <section class="counts section-bg">
                <div class="container">
                    <table class="table table-bordered">
                        <tr>
                            <td>排名</td>
                            <td>音乐主名称</td>
                            <td>音乐其他名称</td>
                            <td>封面</td>
                            <td>评分</td>
                            <td>评价人数</td>
                            <td>歌曲信息</td>
                        </tr>
                        {% for music in musics %}
                            <tr>
                                {#                                排名#}
                                <td>{{ music[0] }}</td>
                                {#主名称#}
                                <td>
                                    <a href="{{ music[1] }}" target="_blank">
                                        {{ music[3] }}
                                    </a>
                                </td>
                                {#                                其他名称#}
                                <td>{{ music[4] }}</td>
                                <td><img src="{{ music[2] }}"></img></td>
                                {#                                封面#}

                                {#                                评分#}
                                <td>{{ music[6] }}</td>
                                {#评价人数#}
                                <td>{{ music[7] }}</td>
                                {#歌曲信息#}
                                <td>{{music[5]}}</td>
                            </tr>

                        {% endfor %}

                    </table>


                </div>
            </section><!-- End Counts Section -->


        </div>
    </section>
<div style="display: flex; justify-content: center">
    <button id="previous" onclick="previouspage()">上一页</button>
    <input id="page" type="text" name="page" size="7">
    <button id="skip" onclick="skip()">跳转</button>
    <button id="nextpage" onclick="nextpage()">下一页</button>
</div>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-legal">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

            </div>

        </div>
    </div>

</footer>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>
<script>
    var url = location.href
    page = url.split("=")[1];
    if (page >= 25) {
        var nextpage = document.getElementById("nextpage");
        nextpage.setAttribute("href", "");
    }
    if (page == 1) {
        var previouspage = document.getElementById("previous");
        previouspage.setAttribute("href", "");
    }

    function skip() {
        var url = window.location.href;
        baseurl = url.split("?")[0];

        temp = document.getElementById("page");
        newpage = temp.value
        if (newpage > 25 || newpage == "") {
            alert("page = " + newpage + ",input error!");
            location.href = url;
        } else {
            location.href = baseurl + "?page=" + newpage;
        }
    }

    function nextpage() {
        var url = location.href;
        baseurl = url.split("?")[0]  //baseurl
        page = (url.split("=")[1])
        newpage = parseInt(page) + 1
        //console.log(newpage + 1)
        //console.log(baseurl + page)
        location.href = baseurl + "?page=" + newpage
    }

    function previouspage() {
        var url = location.href;
        baseurl = url.split("?")[0]
        page = (url.split("=")[1])
        newpage = parseInt(page) - 1
        console.log(newpage + 1)
        console.log(baseurl + page)
        {#print(baseurl)#}
        {#print(baseurl+page)#}
        location.href = baseurl + "?page=" + newpage
    }
</script>
</body>

</html>